/* ------------------------------------------------------------------------
*  Constants
*/

$baseColor: #398b93;
$borderRadius: 5px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 3px;

$piechart-height: 250px;
$piechart-width: 450px;
$linechart-height: 400px;
$linechart-width: 600px;
$calendarchart-height: 200px;
$calendarchart-width: 680px;
$radarchart-height: 400px;
$radarchart-width: 500px;
$barchart-height: 300px;
$barchart-width: 550px;

/* ------------------------------------------------------------------------
*  Nivo Chart Theme 
*/
.piechart-container {
	height: $piechart-height;
	width: $piechart-width;

	border: 1px solid darken($baseColor, 5%);
	border-radius: $borderRadius;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	max-width: calc(100%);
	overflow: hidden;
	font-size: 1rem;
	background-color: white;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
.piechart-text {
	width: $piechart-width;
	white-space: wrap;
}

.linechart-container {
	height: $linechart-height;
	width: $linechart-width;

	border: 1px solid darken($baseColor, 5%);
	border-radius: $borderRadius;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	max-width: calc(100%);
	overflow: hidden;
	font-size: 1rem;
	background-color: white;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
.linechart-text {
	width: $linechart-width;
	white-space: wrap;
}

.calendarchart-container {
	height: $calendarchart-height;
	width: $barchart-width;

	border: 1px solid darken($baseColor, 5%);
	border-radius: $borderRadius;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	max-width: calc(100%);
	overflow: hidden;
	font-size: 1rem;
	background-color: white;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
.calendarchart-text {
	width: $calendarchart-width;
	white-space: wrap;
}

.radarchart-container {
	height: $radarchart-height;
	width: $radarchart-width;

	border: 1px solid darken($baseColor, 5%);
	border-radius: $borderRadius;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	max-width: calc(100%);
	overflow: hidden;
	font-size: 1rem;
	background-color: white;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
.radarchart-text {
	width: $barchart-width;
	white-space: wrap;
}

.barchart-container {
	height: $barchart-height;
	width: $barchart-width;

	border: 1px solid darken($baseColor, 5%);
	border-radius: $borderRadius;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	max-width: calc(100%);
	overflow: hidden;
	font-size: 1rem;
	background-color: white;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
.barchart-text {
	width: $barchart-width;
	white-space: wrap;
}

/* ------------------------------------------------------------------------
*  Responsive Table Theme
*  Modified from: https://codepen.io/asonjay/pen/KKYZrXm
*/

.header {
	background-color: darken($baseColor, 5%);
	color: white;
	font-size: 1.5em;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
}

// img {
//    border-radius: 50%;
//    height: $imageSmall;
//    width: $imageSmall;
// }

.table-users {
	border: 1px solid darken($baseColor, 5%);
	border-radius: $borderRadius;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	max-width: calc(100%);
	// margin: 1em auto;
	overflow: hidden;
	// width: 600px;
	font-size: 1rem;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

table {
	width: 100%;

	td,
	th {
		color: darken($baseColor, 10%);
		padding: $padding;
	}

	td {
		text-align: center;
		vertical-align: middle;
		font-size: 0.9em;
		// white-space: nowrap;
	}

	th {
		background-color: lighten($baseColor, 50%);
		// font-weight: 300;
		font-size: 1em;
		// white-space: nowrap;
	}

	tr {
		&:nth-child(2n) {
			background-color: white;
		}
		&:nth-child(2n + 1) {
			background-color: lighten($baseColor, 55%);
		}
	}
}

// ----------------------------------------------------------
